body {
    overflow: hidden;
}

.dknemid-frame-limited {
    width: 100%;
    max-width: 200px;
    height: 250px;
}

/* Make all default texts invisible */
#dknemid-cpr-entry, #dknemid-continue span, #dknemid-rememberme span {
    font-size: 0;
    z-index: 100;
    color: white;
}

    /* Replace DK label for CPR number input field */
    #dknemid-cpr-entry span.lang-da:after {
        font-size: 16px;
        color: black;
        content: 'Angiv CPR nummer';
    }

    /* Replace UK label for CPR number input field */
    #dknemid-cpr-entry span.lang-en:after {
        font-size: 16px;
        color: black;
        content: 'Specify CPR number';
    }

    /* Replace DK button text */
    #dknemid-continue span.lang-da:after {
        font-size: 16px;
        color: black;
        content: 'Videre';
    }

    /* Replace UK button text */
    #dknemid-continue span.lang-en:after {
        font-size: 16px;
        color: black;
        content: 'Next';
    }

    .frame {
        min-width: 190px;
    }

#dknemid-rememberme {
    position: relative;
    padding-left: 35px;
    max-width: 100%;
    box-sizing: border-box;
}

    /* Replace DK RememberMe label */
    #dknemid-rememberme span.lang-da:after {
        font-size: 16px;
        color: black;
        content: 'Husk mit CPR-nr. når jeg logger ind med NemID';
    }

    /* Replace UK RememberMe label */
    #dknemid-rememberme span.lang-en:after {
        font-size: 16px;
        color: black;
        content: 'Save for later visits?';
    }

#rememberCpr {
    position: absolute;
    left: 8px;
    top: 3px;
}
