.broker h1#headline {
    display: block;
    max-width: 100%;
    border-bottom: 1px solid #E6E6E6;    
    background-image: url("logo.svg");
    background-repeat: no-repeat;        
}

body.broker .frame {
    height: auto;
    min-height: auto;
}

/* HIDE UNWANTED CONTENT */
.broker #description,
.broker #footer,
.broker #ui_locales,
.broker .lang {
    display: none;
}

@media (max-width:300px) {
    body.broker .frame {
        height: 300px;
    }
}

@media (min-width:301px) {
    body.broker .frame {
        height: 400px;
    }
}

@media (max-width:768px) {
    .broker h1#headline {
        margin: 0;
        height: 75px;
        background-size: 83px 35px;
        background-position: 24px center;
    }
    
}

@media (min-width:769px) {
    .broker h1#headline {
        margin: 0 0 100px;
        height: 100px;    
        background-size: 89px 37px;
        background-position: 30px center;
    }    
}
