html, body {
    height: 100%;
}

body.broker {
    background-image: url(/background.jpg);
    background-clip: content-box;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;        
}

body.broker::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: '';        
    background-color: rgba(255,255,255,0.5);
}

.broker h1#headline {
    position: relative;
    display: block;
    max-width: 100%;
    margin: 0;        
    border-bottom: 1px solid #e6e6e6;    
    background-color: #fff;
    background-image: url(/logo.svg);
    background-repeat: no-repeat;        
}

.dknemid iframe.frame {
    position: relative;
    min-height: auto;
}

@media (max-width:338px) {
    /* SMALL LOGIN BOX */
}

/*@media (max-width:479px) {
    .dknemid iframe.frame {    
        width: 94%;             
    }
}*/

@media (max-width:749px) {    
    .broker h1#headline {
        height: 75px;
        margin-bottom: clamp(0px, ((100vh - 76px - 626px) / 2), 1000px);        
        background-size: 83px 35px;
        background-position: 24px center;
    }
    
    /*max-width: 400px;
    margin: 10px auto;*/
    
    .dknemid iframe.frame {            
        height: 400px;
    }
}

/*@media (min-width:480px) {        
    .dknemid iframe.frame {            
        width: 400px;
    }
}*/

@media (min-width: 750px) {
    .broker .broker-dk-side-by-side-content {
        height: 480px;
    }
    
    .broker h1#headline {
        height: 100px;
        margin-bottom: clamp(0px, ((100vh - 101px - 626px) / 2), 1000px);        
        background-size: 89px 37px;
        background-position: 30px center;
    }
    
    .dknemid iframe.frame {         
        height: 460px;
    }
}

/* HIDE UNWANTED CONTENT */
.broker #description,
.broker #footer,
.broker #ui_locales,
.broker .lang {
    display: none;
}
